In [ ]:
# simple code to print hello world
print("hello world.")

:

# Unit : 1
## Introduction :
1. everything in python is an objects
### Features of Python :
1. Easy & Flexible
2. High Level Programing Language
3. Object oriented as well as Procedure oriented.
4. Dynamically Typed
   Ex:- a = 5 print(type(a)) --> <class 'int'>
5. compile as well as interprited.

In [ ]:
# valid variable name.
_ = 5
print(_)
print(type(_))

In [ ]:
# let see the capacity of python.
a,b,c = 2,3,4
print(a)
print(b)
print(c)

In [ ]:
a,b,c = 2
print(a)

In [ ]:
a = 2,"3",4,4.5
print(a)
type(a)

In [ ]:
# this is valid only on Jupyter Notebook
# when we declare two variables and then assign values and when type like below then it will give output of only last variable.
a = 5
b = 6
a
b

## taking input from user :

In [ ]:
# take input from the user.
k = input("Enter value: ")
print(k)
print(type(k))
# typecasting of number 
y = int(input("Enter value: "))
print(y)
print(type(y))

In [ ]:
# find memory location
# if both variables have same value then it will store at same location.
# this is part of memory location
a = []
print(id(a))

In [ ]:
b = []
print(id(b))

In [ ]:
a = 5
b = 6
print(a,b)

In [ ]:
print(a+b)

## Typecasting in Python :-

#### FOR int() :-

In [ ]:
# when we take input from user then by default it will store in variable as a string 
# at that point typecasting topic is comming in the picture.
# For float value.
a = 2.3
print(type(a))
num = int(a)
print(num,type(num))

In [ ]:
# for boolean (bool)
a = True
num = int(a)
print(num,type(num))

b = False
nums = int(b)
print(nums,type(nums))

In [ ]:
# for string
# string to integer conversion possible but not for (a,b,c,....) and (1.2,....)
a = "12"
nums = int(a)
print(nums,type(nums))

#### FOR float() :-

In [ ]:
# for float
a = 152
num = float(a)
print(num,type(num))

In [ ]:
# for boolean(bool)
a = True
num = float(a)
print(num,type(num))

In [ ]:
# for string
a = "11222"
num = float(a)
print(num,type(num))

b = "12.3"
nums = float(b)
print(nums,type(nums))

c = "12.3.2"  
numc = float(c) # this giving error because double point is not allow by python.
print(numc,type(numc))

#### FOR bool() :-

In [ ]:
# for int
b = 1
num = bool(b)
print(num,type(num)) # it will give "True <class 'bool'>"

c = 1245.45
numc = bool(c)
print(numc,type(numc))

In [ ]:
# for float
c = 0.001
num = bool(c)
print(num,type(num))

In [ ]:
# for string
k = "1.2222"
num = bool(k)
print(num,type(num))

z = "kishan"
nums = bool(z)
print(nums,type(nums))

kis = ""
numc = bool(kis)
print(numc,type(numc))

kic = "1.2.3"
numk = bool(kic)
print(numk,type(numk))

### Airthmetic Operators :- (with seprator(sep="") and end(end=""))

In [ ]:
# for " + "
a = 5
b = 2
print(a + b)
# print(a += b) # it is invalid syntex but we can handle it through below operation
z = a + b
print(z)

# for string
c = 'Hello'
d = 'World'
print(c + d, end=" -> ")
print(c,d,sep=" ",end=" $$ ")
print("python")
# it is for seprator when we provide any thing in sep="" then it will seprate
# given values

In [ ]:
# for " - "
a = 5
b = 2
print(a - b)

In [ ]:
# for " * "
a = 5
b = 2
print(a * b)

In [ ]:
# for " / "
a = 5
b = 2
print(a / b)

In [ ]:
# for " % "
a = 5
b = 2
print(a % b)

In [ ]:
# for " // (floordivision)" it will answer in provided datatype but not giving exect division.
a = 50.0
b = 3
print(a // b)

In [ ]:
# for " ** (power)"
a = 5
b = 2
print(a ** b)

# for string we use only '*'
z = "Kishan "
k = 3
print(z * k)

### Comparision Operators in Python :-

In [ ]:
# for " > "
# for int
print(5>3)
# for string
print("hello">"world")
print('a'>'aello')

# we can find charactor through the ascci using 'chr()'
print(chr(106))
# we can find ascci value through charactor using 'ord()'
print(ord('a'))

In [ ]:
# for " == "
print(5 == 6)

In [ ]:
# for " != "
print(5 != 6)

In [ ]:
# for " < "
print(5 < 6)

In [ ]:
# for " >= "
print(4 >= 4)

In [ ]:
# for " <= "
print(5 <= 6)

### Logical Operators in Python :-

In [ ]:
# for 'and'
a = 3
b = 0
c = 6
print(a and b and c)

In [ ]:
# for 'or'
a = 0
b = 2
c = 6
print(a or b or c)

In [ ]:
# for 'not'
a = 0
b = 2
c = 6
print(not(a or b))

### Membership Operators in Python :-

In [ ]:
# for " in " operator
print("H" in "python") # it will give False because python is case sencitive
# we can also check substring present in word.
print("thon" in "python")

In [ ]:
# for " not in "
print("h" not in "python") # it will give False because 'not' keyword is reverse result of in

# Precedence :- (Higher to Lower)
1. **   -> "Right to Left"
2. /,*   -> "Left to Right"
3. +,-   -> "Left to Right"
4. comparision operators   -> "Left to Right"
5. not   -> "Left to Right"
6. and   -> "Left to Right"
7. or   -> "Left to Right"

In [ ]:
# for power
2**3**1 # output 8
# using () for '**'
((2**3)**2) # output 64

In [ ]:
a = 6
b = 0
c = 'py'
print((a or b) and (b or c) and ('Hello'))
print((a or b) and (b or c) and not ('Hello'))

# Examples :-
1. 'and' , 'or' vada
2. 'in' , 'not in' vada
3. using 'operators (All Type)'